Assignment PANDAS

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [29]:
import pandas as pd

In [30]:
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [31]:
import pandas as pd
my_list = [7,8,9,4,5,6,'Sachin','Rao','Data_Scientst','Apple']
series=pd.Series(my_list)
print(series)

0                7
1                8
2                9
3                4
4                5
5                6
6           Sachin
7              Rao
8    Data_Scientst
9            Apple
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [32]:
import pandas as pd
name =['Alice','Bob','Claire']
Age =[25,30,27]
Gender= ['Female','Male','Female']

In [33]:
pd.DataFrame([name,Age,Gender])

        0     1       2
0   Alice   Bob  Claire
1      25    30      27
2  Female  Male  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, both Series and DataFrame are fundamental data structures, but they serve different purposes and have different characteristics:

Series:
Definition: A Series is a one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). It is similar to a one-dimensional array or list in Python but with labeled indices.
Properties:
It has a single column of data.
Each element in the Series has a label called the index.
You can think of it as a single column of data with labels for each row.

DataFrame:
Definition: A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table or a spreadsheet-like data structure where each column represents a different variable or feature and each row represents a different observation.
Properties:
It has multiple columns of data.
It has both a row index and a column index, providing labels for both axes.
It can be created from various data structures like lists, dictionaries, NumPy arrays, or even other DataFrames.

In [35]:
##Example of Series are as follow
list= ['Divya','Sachin',1,2,3,4]
Series = pd.Series(list)
print(Series)

0     Divya
1    Sachin
2         1
3         2
4         3
5         4
dtype: object

In [36]:
##Example of DataFrame are as follow
data = {
    'Name' : ['Alice','Bob','Charlie','David'],
    'Age' : [25,30,35,40],
    'City' : ['NewYork','Rewari','Delhi','Mumbai']
}
df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25  NewYork
1      Bob   30   Rewari
2  Charlie   35    Delhi
3    David   40   Mumbai

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Answer : Pandas provides a wide range of functions and methods to manipulate data within a DataFrame. Here are some common functions and methods you can use:

Selection and Filtering:

loc[] and iloc[]: Used for selecting rows and columns by label (loc[]) or by integer index (iloc[]).
Example: df.loc[df['Age'] > 30, ['Name', 'Age']] selects rows where the 'Age' column is greater than 30, and retrieves only the 'Name' and 'Age' columns.
Sorting:

sort_values(): Sorts the DataFrame by specified columns.
Example: df.sort_values(by='Age', ascending=False) sorts the DataFrame by the 'Age' column in descending order.
Grouping and Aggregation:

groupby(): Groups the DataFrame using a mapper or by a Series of columns.
Example: df.groupby('City')['Age'].mean() calculates the average age for each unique value in the 'City' column.
Applying Functions:

apply(): Applies a function along an axis of the DataFrame.
Example: df['Age'].apply(lambda x: x * 2) applies a lambda function to double the values in the 'Age' column.
Handling Missing Data:

dropna(): Drops rows or columns with missing values.
fillna(): Fills missing values with specified methods or values.
Example: df.dropna() drops rows with any missing values.
Merging and Joining:

merge(): Merges DataFrame objects by performing a database-style join operation.
Example: pd.merge(df1, df2, on='key') merges two DataFrames df1 and df2 on the column 'key'.
Reshaping:

pivot_table(): Creates a pivot table from a DataFrame.
Example: pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C']) creates a pivot table with columns as 'C', index as ['A', 'B'], and values as 'D'.
Appending and Concatenating:

concat(): Concatenates pandas objects along a particular axis with optional set logic along the other axes.
Example: pd.concat([df1, df2]) concatenates df1 and df2 along the rows (axis=0).

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: A Pandas Series is immutable, meaning once it is created, you cannot modify the elements or the size of the Series. However, you can modify the values of individual elements within the Series.

DataFrame: A Pandas DataFrame is mutable. You can modify its size, shape, and elements. You can add or delete columns and rows, update values, and perform a wide range of operations that change the structure or content of the DataFrame.

Panel: Panels were a data structure in earlier versions of Pandas (pre v0.20), designed to handle three-dimensional data. However, they have been deprecated in favor of MultiIndexing in DataFrames, which provides a more intuitive and flexible way to handle higher-dimensional data. Panels were mutable when they existed.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [42]:
name = pd.Series(['Sachin','Sangeeta','Divya','Takshu','Divija'])
age = pd.Series([20,20,2,7,3])
df = pd.DataFrame({'Name' : name , 'Age' : age})
print(df)

       Name  Age
0    Sachin   20
1  Sangeeta   20
2     Divya    2
3    Takshu    7
4    Divija    3