Q1. Write a code to print the data present in the second row of the dataframe, df.
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [2]:
import pandas as pd
data = {
    'duration' : [2,3,6,4]
       }
df = pd.DataFrame(data)
print(df)

   duration
0         2
1         3
2         6
3         4

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans. Indexing Type:

loc uses labels/index names.

iloc uses integer positions.

Endpoint Inclusion:

loc includes the end point in slicing.

iloc excludes the end point in slicing.

Usability:

Use loc when dealing with label-based indexing.

Use iloc when dealing with positional indexing.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [14]:
import pandas as pd
data = {
    'Name' : ['Sachin','Sarvagya','Nitin','Sunny']
}
df = pd.DataFrame(data)
print(df)

       Name
0    Sachin
1  Sarvagya
2     Nitin
3     Sunny

In [15]:
def reindex_dataframe(df):
    new_index = list([3,0,1,2])
    df.index = new_index
    return df

reindexed_df = reindex_dataframe(df)
print(reindexed_df)

       Name
3    Sachin
0  Sarvagya
1     Nitin
2     Sunny

In [18]:
reindexed_df.iloc[0::2]

     Name
3  Sachin
1   Nitin

In [21]:
reindexed_df.loc[0::2,['Name']]

       Name
0  Sarvagya
2     Sunny

Did you observe any difference in both the outputs? If so then explain it.

Ans. Yes i got the differnce in both the code of iloc,loc.In iloc we use the numercial value in it while in loc we use the given name in the table.

Q4 . import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [31]:
import pandas as pd
import numpy as np

data = { 'column_1' : [1,2,3,4,5,6],
        'column_2' : [7,8,9,10,11,12],
        'column_3' : [13,14,15,16,17,18],
        'column_4' : [19,20,21,22,23,24],
        'column_5' : [25,26,27,28,29,30],
        'column_6' : [31,32,33,34,35,36]
       }
df = pd.DataFrame(data)
print(df )

   column_1  column_2  column_3  column_4  column_5  column_6
0         1         7        13        19        25        31
1         2         8        14        20        26        32
2         3         9        15        21        27        33
3         4        10        16        22        28        34
4         5        11        17        23        29        35
5         6        12        18        24        30        36

In [35]:
np.mean(df)

column_1     3.5
column_2     9.5
column_3    15.5
column_4    21.5
column_5    27.5
column_6    33.5
dtype: float64

In [37]:
np.std(df)['column_2']

1.707825127659933

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [42]:
df.loc[0::,'column_2'] = ['Sachin','Sangeeta','Takshu','Soni','Divu','Divija']

In [43]:
df

   column_1  column_2  column_3  column_4  column_5  column_6
0         1    Sachin        13        19        25        31
1         2  Sangeeta        14        20        26        32
2         3    Takshu        15        21        27        33
3         4      Soni        16        22        28        34
4         5      Divu        17        23        29        35
5         6    Divija        18        24        30        36

In [ ]:
np.mean(df)['column_2']
#Yes, i am getting error in the 'column_2' because mean comes out of only numerical value wee donot get mean of the string value.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function performs a calculation across a sliding window of values, which is particularly useful for time series data and other sequential data analysis. These functions allow you to apply operations like aggregations, transformations, and other computations over a subset of data defined by the window.

Types of Window Functions in pandas:

1, Rolling Window Functions:

These functions calculate a value over a sliding window of a fixed size.
Examples: rolling(), which can be used with aggregation functions like mean(), sum(), std(), min(), max(), etc.
Syntax: df.rolling(window=window_size)


2,Expanding Window Functions:

These functions calculate values over an expanding window, starting from the beginning of the data and expanding with each new data point.
Examples: expanding(), which can also be combined with aggregation functions.
Syntax: df.expanding(min_periods=1)

3,Exponentially Weighted Window Functions:

These functions apply exponential decay to past observations, giving more weight to recent observations.
Examples: ewm(), which can be used with methods like mean(), std(), var(), etc.
Syntax: df.ewm(span=span_value)

4,Custom Window Functions:

You can define custom window functions using the apply() method on rolling or expanding windows.
Syntax: df.rolling(window=window_size).apply(custom_function)

5,GroupBy Window Functions:

These functions are used in conjunction with the groupby() method to perform window calculations within groups.
Syntax: df.groupby('group_column').rolling(window=window_size)

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [51]:
import datetime

# Get the current date
current_date = datetime.datetime.now()

# Extract and print the current month and year
current_month_year = current_date.strftime("%B %Y")
print(current_month_year)

July 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.