Q1. List any five functions of the pandas library with execution.

In [ ]:
 #Here are five commonly used functions of the pandas library along with examples of their execution:
#1. Creating a DATAFRAME

import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
df = pd.DataFrame(data)
print(df)


#2. Reading a CSV file

# Reading a CSV file
df = pd.read_csv('data.csv')
print(df.head())  # Displaying the first few rows of the DataFrame


#3 Descriptive Statistics
# Descriptive statistics
print(df.describe())


#4 Filtering DATA
# Filtering data
filtered_df = df[df['Age'] > 25]
print(filtered_df)


#5 Gropuing DATA
# Grouping data
grouped_df = df.groupby('City').mean()
print(grouped_df)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [13]:
import pandas as pd
data = {
    'A' : [10,20,30,40,50],
    'B' : [15,25,35,45,55],
    'C' : [16,26,34,46,56],
    'D' : [17,18,19,21,22]
}

df = pd.DataFrame(data)
print(df)

    A   B   C   D
0  10  15  16  17
1  20  25  26  18
2  30  35  34  19
3  40  45  46  21
4  50  55  56  22

In [18]:
import pandas as pd
#Reindexing the dataFrame
def reindex_dataframe(df):
    new_index = list(range(1, 2*len(df),2))
    df.index = new_index
    return df

reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B   C   D
1  10  15  16  17
3  20  25  26  18
5  30  35  34  19
7  40  45  46  21
9  50  55  56  22

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [37]:
import pandas as pd

def sum_first_three_values(df):
    if 'Values' in df.columns and len(df['Values']) >=3:
        sum_values = df['Values'].iloc[:3].sum()
        print("sum of first three value:", sum_values)
    else:
        print("The DataFrame does not have enough values in the 'Values' column")
      
data = {
    'Values' : [10,20,30,40,50,60]

}
df = pd.DataFrame(data)
sum_first_three_values(df)

sum of first three value: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [19]:
data = [["My name is Sachin",7404811216,850],["My name is Dr.Sangeeta Yadav",9350957036,850]]

In [20]:
import pandas as pd
df = pd.DataFrame(data,columns=["Text","Mobile no" , "House no"])
print(df)

                           Text   Mobile no  House no
0             My name is Sachin  7404811216       850
1  My name is Dr.Sangeeta Yadav  9350957036       850

In [25]:
df["Word_Count"] = 0
print(df)

                           Text   Mobile no  House no  Word_Count
0             My name is Sachin  7404811216       850           0
1  My name is Dr.Sangeeta Yadav  9350957036       850           0

In [27]:
df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
print(df)

                           Text   Mobile no  House no  Word_Count
0             My name is Sachin  7404811216       850           4
1  My name is Dr.Sangeeta Yadav  9350957036       850           5

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
#Ans. #DataFrame.size:

#Description: This attribute returns the number of elements in the DataFrame.
#Calculation: It is calculated as the total number of rows multiplied by the total number of columns.
#Usage: df.size
import pandas as pd

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
print(df.size)  # Output: 9 (3 rows * 3 columns)


#DataFrame.shape:

#Description: This attribute returns a tuple representing the dimensionality of the DataFrame.
#Format: The tuple is in the form (number_of_rows, number_of_columns).
#Usage: df.shape

import pandas as pd

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
print(df.shape)  # Output: (3, 3) (3 rows, 3 columns)

Q6. Which function of pandas do we use to read an excel file?


Ans. pd.read_excel("") is used to read excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [45]:
import pandas as pd
        
data = [["srao87129@gmail.com"],["vison.snyadav@gamil.com"]]
df = pd.DataFrame(data,columns = ['Email'])
print(df)

                     Email
0      srao87129@gmail.com
1  vison.snyadav@gamil.com

In [48]:
df['Usename'] = 0
print(df)
def extract_username(df):
    if 'Email' in df.columns:
        df['Username'] : df['Email'].apply(lambda x : x.split('@')[0])
    return df
    
df = extract_username(df)
print("\nDataFrame with 'Username' column:")
print(df)

                     Email  Usename
0      srao87129@gmail.com        0
1  vison.snyadav@gamil.com        0

DataFrame with 'Username' column:
                     Email  Usename
0      srao87129@gmail.com        0
1  vison.snyadav@gamil.com        0

In [49]:
import pandas as pd

def extract_usernames(df):
    # Check if 'Email' column exists
    if 'Email' in df.columns:
        # Create 'Username' column by splitting the 'Email' column at '@' and taking the first part
        df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    else:
        print("The DataFrame does not have an 'Email' column")
    return df

# Example usage
data = {
    'Email': [
        'alice@example.com',
        'bob@example.com',
        'charlie@example.com',
        'david@example.com',
        'eve@example.com'
    ]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Extract usernames and add 'Username' column
df = extract_usernames(df)
print("\nDataFrame with 'Username' column:")
print(df)

Original DataFrame:
                 Email
0    alice@example.com
1      bob@example.com
2  charlie@example.com
3    david@example.com
4      eve@example.com

DataFrame with 'Username' column:
                 Email Username
0    alice@example.com    alice
1      bob@example.com      bob
2  charlie@example.com  charlie
3    david@example.com    david
4      eve@example.com      eve

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [3]:
import pandas as pd
import numpy as np
data = [[1,2,3],[7,8,9],[78,25,6]]
df = pd.DataFrame(data,columns=['A','B','C'])
print(df)

    A   B  C
0   1   2  3
1   7   8  9
2  78  25  6

In [5]:
df.describe()

               A          B    C
count   3.000000   3.000000  3.0
mean   28.666667  11.666667  6.0
std    42.829118  11.930353  3.0
min     1.000000   2.000000  3.0
25%     4.000000   5.000000  4.5
50%     7.000000   8.000000  6.0
75%    42.500000  16.500000  7.5
max    78.000000  25.000000  9.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [10]:
import pandas as pd
data = {
    'Date' :   ['2023-1-1','2023-1-2','2023-1-3','2023-1-4','2023-1-5'] 
}
df = pd.DataFrame(data)
print(df)

       Date
0  2023-1-1
1  2023-1-2
2  2023-1-3
3  2023-1-4
4  2023-1-5

In [13]:
df['Weekday'] = ['Sunday','Monday','Tuesday','Wednesday','Thursday']

In [14]:
print(df)

       Date    Weekday
0  2023-1-1     Sunday
1  2023-1-2     Monday
2  2023-1-3    Tuesday
3  2023-1-4  Wednesday
4  2023-1-5   Thursday

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [16]:
#Ans  #The first and foremost library that needs to be imported in pandas is import pandas as pd